<%- include('../partials/header') %>

<form action="/flights/<%= %>/ticket" method="POST">
  <label>Flight</label>
    <h3><%= %></h3>
    <label>Seat:</label>
    <input name="seat" required pattern="[A-F][1-9]\d?">
    <label>Price:</label>
    <input type="number" name='price'>
    <button type='submit'>Purchase</button>
  </form>

<%- include('../partials/footer') %>



