body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: grid;
  color: #54585d;
}

h1, h2, h3 {
  text-align: center;
}

a {
  color: #5fc1fe;
}

nav > a {
  font-size: 20px;
  margin: 8px;
}

table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}
table td {
	padding: 15px;
}
table thead th {
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
	border: 1px solid #54585d;
	padding: 15px;
}
table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}

.button {
	font: bold 11px Arial;
	text-decoration: none;
	background-color:  #54585d;
	color: #EEEEEE;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
  }

  .flight-details {
	color: darkgray;
  }

