<%- include('../partials/header') %>

<h3>Available Flights</h3>

<table>
    <thead>
      <tr>
        <th>Flight No.</th>
        <th>Airline</th>
        <th>Departure</th>
      </tr>
    </thead>

    </table>

<%- include('../partials/footer') %>