<%- include('../partials/header') %>

<form action="/flights" method="POST">
    <label>Flight Number:</label>
    <input type="number" name="flightNumber" placeholder='10-9999'>
    <label>Airline:</label>
    <select name="airline">
      <option value="American">American</option>
      <option value="Delta">Delta</option>
      <option value="Southwest">Southwest</option>
    </select>
    <label>Airport:</label>
    <select name="airport">
      <option value="SFO">SFO</option>
      <option value="OAK">OAK</option>
      <option value="LAX">LAX</option>
      <option value="JFK">JFK</option>
      <option value="SAN">SAN</option>
    </select>
    <label>Date:</label>
    <input type='date' name='departs'>
    <input type="submit"></input>
  </form>

<%- include('../partials/footer') %>